@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,100;1,200&family=Pacifico&display=swap");

$primary-font: Pacifico, Tahoma;
$secondary-font: "Josefin Sans", Tahoma;

$background-color: #35373e;
$border-color: #4a473e;

$primary-color: #ffea00;
$secondary-color: #f6da76;

$primary-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem $secondary-color,
  0 0 0.8rem $secondary-color, 0 0 2.8rem $secondary-color,
  inset 0 0 1.3rem #3e3c35;
